@import "tailwindcss";
@font-face {
    font-family: 'pp-editorial-new';
    src: url('fonts/fonnts.com-PP_Editorial_New_Light.woff2') format('woff2'),
         url('fonts/fonnts.com-PP_Editorial_New_Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@theme {
    --font-pp-editorial-new: 'pp-editorial-new', sans-serif;
}
@font-face {
    font-family: 'pp-editorial-new-ittalic';
    src: url('fonts/fonnts.com-PP_Editorial_New_Light.woff2') format('woff2'),
         url('fonts/fonnts.com-PP_Editorial_New_Light.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@theme {
    --font-myfont: 'pp-editorial-new-ittalic', sans-serif;
}
@font-face {
    font-family: 'pp-editorial-ultralight-ittalic';
    src: url('fonts/EditorialNew-UltralightItalic.woff2') format('woff2'),
         url('fonts/EditorialNew-UltralightItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@theme {
    --font-ultralight: 'pp-editorial-ultralight', sans-serif;
}

@font-face {
    font-family: 'pp-editorial-ultralight';
    src: url('fonts/pp-editorial-new-ultra-light.woff2')format('woff2'),
         url('fonts/pp-editorial-new-ultra-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@theme {
    --font-ultralight-italic: 'pp-editorial-ultralight-ittalic', sans-serif;
}
@font-face {
    font-family: 'FK-Grotesk';
    src: url('fonts/FKGroteskNeueTrial-Regular-BF6576818c3af74.woff2') format('woff2'),
         url('fonts/FKGroteskNeueTrial-Regular-BF6576818c3af74.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@theme {
    --font-FK-Grotesk: 'FK-Grotesk', sans-serif;
}

html {
  scroll-behavior: smooth;
}